body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  animation: glow 2s infinite alternate;
}

h3 {
  font-size: 24px;
  color: lightgreen;
  animation: bounce 2s infinite alternate;
}

#visit-count {
  font-size: 20px;
  margin-top: 20px;
  animation: bounce 2s infinite alternate;
}

/* Animations */
@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@keyframes glow {
  from { text-shadow: 0 0 10px lime; }
  to { text-shadow: 0 0 20px green; }
}
